/* Universal selector */
*{
    color: white;
}
/* element selector */
body{
    background-color: rgb(87, 157, 227);
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
}
/* class selector */
.nav a{
    text-decoration: none;
    
}

.nav{
    border-bottom: white 1px solid;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgb(87, 157, 227);
}

h1{
    color: white;
    text-align: center;
    text-decoration: underline white 1.5px;

}
table {
    
    margin: 1rem auto;
    width: 50%;
}
/*pseudo class takes a list of selectors and gives them the same edits */
:is(caption, thead th, td){
    border-bottom: 2px solid white;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: (2, 1fr);
}
.card{
    transition: 1.5s;
}
/* pseudo class creates hovering effect */
.card:hover{
    transform: scale(1.5);
}
/* Q3 What does box-sizing:border-box do?
This means thhat the width and height of an element are calculated based on the content inside the element
*/
/* 
Q4 other ways of using color
1. color: #FF000  (This is when we use hexadecimals values)
2. color: rgb  (This is when we use Red, Green and Blue values to make a color)
*/

/* I didn't do question 2 properly, I had already recreated the webpage when I saw it and didn't really understand why we had to use 4 of each. sorry ':) */
